<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->

<configuration>
    <!--    //引入外部配置文件-->
    <properties resource="db.properties"/>

    <environments default="development">
        <environment id="development">
            <!--    //事务是采用jdbc-->
            <transactionManager type="JDBC"/>
            <!--    //数据源用的是POOLED-->
            <dataSource type="POOLED">
                <!--                这里的${Driver}引入的是我们外部配置文件的key-->
                <property name="driver" value="${Driver}"/>
                <property name="url" value="${Url}"/>
                <property name="username" value="${UserName}"/>
                <property name="password" value="${PassWord}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/yunduo/dao/UserDaoMapper.xml"/>
    </mappers>
</configuration>

