<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--//实际上是把dao接口映射成xml文件，接口名就是namespace，id就是各个方法名。所以dao和mapper.xml是绑定的。-->
<!--namespace命名空间，需要绑定对应的dao接口-->
<mapper namespace="SMV.myTest.UserDao">
    <!--    这里ID对应我们接口中的方法  resultType代表返回类型-->
    <select id="getUserList" resultType="SMV.myTest.User" parameterType="SMV.myTest.User">
        select * from user
    </select>
    <select id="getUserById" resultType="SMV.myTest.User" parameterType="SMV.myTest.User">
        select * from user where id=#{id}
    </select>
    <insert id="AddUser" parameterType="SMV.myTest.User">
        insert into user(id,name,pwd) values(#{id},#{name},#{pwd})
    </insert>
    <update id="UpdateUserById" parameterType="SMV.myTest.User">
        update user set pwd=#{pwd} where id=#{id}
    </update>
    <delete id="DeleteUserById" parameterType="SMV.myTest.User">
        delete from user where id=#{id}
    </delete>

    <!--    这里如果传递是一个map的话，那么我们传递的参数和key对应即可-->
    <select id="getUserById2" resultType="SMV.myTest.User" parameterType="map">
        select * from user where id=#{kkk}
    </select>

    <!--    这里如果传递是一个map的话，那么我们传递的参数和key对应即可-->
    <select id="getUserByName" resultType="SMV.myTest.User" parameterType="map">
        select * from user where name=#{n}
    </select>

    <!--    这里如果传递是一个map的话，那么我们传递的参数和key对应即可-->
    <select id="getUserByNameOrId" resultType="SMV.myTest.User" parameterType="map">
        select * from user where #{idOrName} = #{v}
    </select>

</mapper>

